# Virtual environment
.venv/

# Secrets
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo

# IDE
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Generated storage folders
storage/audio/
storage/images/
storage/temp/
storage/user_uploads/
storage/videos/
storage/static/
storage/music/

# Dummy Files
dummy-files/script_service_dummy
dummy-files/voice_service_dummy
dummy-files/video-renderer_1920_1080
dummy-files/voice_service_5_voices
